<button style="border-radius: 10px; margin-left:70%;" mat-raised-button color="primary" type="submit" id="submit" (click)="addNewPerson();">
<mat-icon>add</mat-icon>ADD NEW PERSON
</button><br>
<hr>
<!-- <person #person></person> -->
<person style="display:none;" #person></person>
<div class="row">
<div class="fields">
<div class="showInputField" id="showInputFieldCol1"></div>
<!-- <person #person></person> -->
<div class="showInputField" id="showInputFieldCol2"></div>
<div class="showInputField" id="showInputFieldCol3"></div>
</div>
<div class="history">
<mat-list>
<mat-list-item>Pepper</mat-list-item>
 <mat-list-item>Salt</mat-list-item>
 <mat-list-item>Paprika</mat-list-item>
</mat-list>
<button style="border-radius: 10px; width: 240px;" mat-raised-button color="primary" type="submit" id="submit" (click)="addNewPerson();">
<mat-icon>clear</mat-icon>CLEAR CHAT WINDOW
</button><br>
</div>
</div>